// .w{
//     width: 990px;
//     margin: auto;
// }
body {
    // height: 2000px;
    background: #f5f5f5;
}

aside{
    div.w{
        aside.right {
            position: fixed;
            width: 35px;
            height: 100%;
            right: 0;
            top: 0;
            background: #383838;
            z-index: 10;
            div.user {
                width: 35px;
                height: 35px;
                top: 150px;
                a {
                    display: block;
                    width: 29px;
                    height: 35px;
                    text-align: center;
                    line-height: 35px;
                    color: #f80;
                    font-size: 18px;
                    margin: 0 3px;
                    padding-bottom: 10px;
                    border-bottom: 1px solid #666;
                }
                &:hover {
                    background: #f80;
                    a {
                        color: #fff;
                    }
                }
            }
            div.cart {
                width: 35px;
                height: 110px;
                top: 161px;
                &:hover {
                    background: #f80;
                }
                a.cart {
                    display: block;
                    width: 30px;
                    height: 100px;
                    position: relative;
                    padding-bottom: 10px;
                    margin: 0 2px 0 3px;
                    border-bottom: 1px solid #666;
                    span {
                        position: absolute;
                        text-align: center;
                    }
                    span.cart {
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        // color:#fff;
                        color: #f80;
                        font-size: 22px;
                    }
                    span.word {
                        height: 50px;
                        color: #f80;
                        padding: 10px;
                        top: 20px;
                    }
                    span.count {
                        background: red;
                        width: 25px;
                        margin: 2px 3px;
                        height: 15px;
                        color: #fff;
                        line-height: 15px;
                        bottom: 5px;
                        border-radius: 5px;
                    }
                    &:hover {
                        background: #f80;
                        span {
                            color: #fff;
                        }
                    }
                }
            }
            div.middle {
                width: 35px;
                height: 160px;
                top: 172px;
                background: #383838;
                a {
                    display: block;
                    width: 35px;
                    height: 30px;
                    background: #383838;
                    margin-bottom: 10px;
                    text-align: center;
                    line-height: 30px;
                    font-size: 20px;
                    color: #f80;
                    position: relative;
                    span {
                        transition: all 0.5s;
                        position: absolute;
                        width: 60px;
                        height: 30px;
                        left: 0px;
                        background: #f80;
                        font-size: 12px;
                        color: #666;
                        z-index: -1;
                    }
                    &:hover {
                        background: #f80;
                        color: #fff;
                        span {
                            left: -60px;
                        }
                    }
                }
            }
            div.bottom {
                width: 35px;
                height: 150px;
                padding-top: 20px;
                top: 160px;
                background: #383838;

                & > a {
                    display: block;
                    width: 35px;
                    height: 30px;
                    background: #383838;
                    margin-bottom: 10px;
                    text-align: center;
                    line-height: 30px;
                    font-size: 20px;
                    color: #f80;
                    position: relative;
                    span {
                        transition: all 0.5s;
                        position: absolute;
                        width: 90px;
                        height: 30px;
                        left: 0px;
                        background: #f80;
                        font-size: 12px;
                        color: #666;
                        z-index: -1;
                    }
                    div.inner {
                        left: 0;
                        transition: all 0.5s;
                        bottom: 0;
                        z-index: -1;
                        width: 160px;
                        height: 230px;
                        display: inline-block;
                        img {
                            width: 160px;
                            height: 230px;
                        }
                        p {
                            display: block;
                            width: 100px;
                            height: 100px;
                            background: url(../resource/imgs/aside_right_ma.png) no-repeat;
                            background-size: cover;
                            position: absolute;
                            top: 80px;
                            left: 35px;
                        }
                    }
                    &:hover {
                        background: #f80;
                        color: #fff;
                        span {
                            left: -90px;
                        }
                        div.inner {
                            left: -160px;
                        }
                    }
                }
            }
        }

    }
}

// nav top 一级菜单
nav.top {
    height: 35px;
    background: #f5f5f5;
    border-bottom: 1px solid #eee;
    .w {
        line-height: 35px;
        clear: both;
        position: relative;
        z-index: 200;
        ul {
            position: relative;
            li {
                color: #666;
                border: 1px solid transparent;
                padding-left: 1px;
                padding-right: 20px;
                cursor: pointer;
                &:hover {
                    color: #f70;
                    a {
                        color: #f70;
                    }
                }
            }
            li.shou {
                span {
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                }
            }
            .write {
                position: relative;
                .icon-right {
                    position: absolute;
                    width: 110x;
                    height: 12px;
                    line-height: 12px;
                    top: 11px;
                    right: 5px;
                    font-size: 12px;
                    color: #bbb;
                    transition: all 0.5s;
                    transform-origin: center;
                    transform: rotate(180deg);
                }

                &:hover {
                    background: #fff;
                    border-color: #eee;
                    border-bottom: 1px solid #fff;
                    height: 35px;
                    span {
                        transform: rotate(0deg);
                    }
                    &::after {
                        content: "";
                        width: 100%;
                        height: 5px;
                        position: absolute;
                        bottom: -2px;
                        left: 0;
                        background: #fff;
                    }
                }
            }
            & .r {
                li.cart {
                    padding-left: 20px;
                    span.icon-gouwuche {
                        left: 5px;
                        color: #f70;
                        transform: rotate(0deg);
                    }
                }
            }

            // nav top 左  二级菜单
            .write {
                div.sec {
                    display: none;
                    background: #fff;
                    margin: auto;
                    padding: 10px;
                    top: 35px;
                    left: -1px;
                    border: 1px solid #eee;
                    div {
                        border-right: 1px solid #eee;
                        padding-left: 10px;
                        h3 {
                            height: 30px;
                            line-height: 30px;
                            color: #333;
                            font-weight: 100;
                            font-size: 16px;
                        }
                        a {
                            color: #666;
                            display: inline-block;
                            height: 16px;
                            line-height: 16px;
                            width: 80px;
                            text-indent: 5px;
                            position: relative;
                            &:hover {
                                color: #f70;
                            }
                            .icon-re {
                                position: absolute;
                                width: 16px;
                                height: 16px;
                                color: #f44;
                                font-size: 16px;
                                top: -5px;
                                right: 15px;
                            }
                        }
                    }
                    & > div:last-of-type {
                        border: none;
                    }
                }
                div.one {
                    width: 920px;
                    div {
                        width: 170px;
                    }
                }
                div.two {
                    width: 170px;
                    div {
                        width: 170px;
                    }
                }
                div.tre {
                    width: 174px;
                    left: -126px;
                    div {
                        a {
                            span {
                                position: absolute;
                                width: 20px;
                                height: 20px;
                                color: #f70;
                                font-size: 20px;
                                top: 0;
                                right: 10px;
                            }
                        }
                    }
                }
                div.rOne {
                    width: 59px;
                    padding: 5px;
                    div {
                        padding: 0;
                    }
                }
                div.rTwo {
                    width: 180px;
                    p {
                        width: 100%;
                        height: 60px;
                        line-height: 60px;
                        font-size: 16px;
                        color: #333;
                        text-indent: 10px;
                        span {
                            display: block;
                            width: 50px;
                            height: 50px;
                        }
                    }
                    & > span {
                        position: absolute;
                        width: 16px;
                        height: 16px;
                        color: #f70;
                        font-size: 16px;
                        top: 0;
                        right: 10px;
                    }
                }
                div.rTre {
                    width: 300px;
                    padding: 30px;
                    text-align: center;

                    h5 {
                        margin: 100px auto 0;
                    }
                    p {
                        color: #666;
                        text-align: center;
                        margin-top: 10px;
                    }
                    span {
                        display: block;
                        width: 60px;
                        height: 25px;
                        line-height: 25px;
                        background: #f70;
                        color: #fff;
                        font-size: 16px;
                        font-weight: bold;
                        margin: auto;
                        border-radius: 5px;
                    }
                }
                div.rFou {
                    width: 400px;
                    left: -352px;
                    text-align: center;
                    div {
                        figure {
                            width: 120px;
                            text-align: center;
                            margin: 5px;
                            img {
                                width: 80px;
                                padding: 10px;
                                padding-left: 15px;
                            }
                            p {
                                color: #666;
                                line-height: 20px;
                            }
                        }
                    }
                }
            }

            li.loca {
                div.loca {
                    display: none;
                    background: #fff;
                    width: 360px;
                    margin: auto;
                    padding: 10px;
                    top: 35px;
                    left: -1px;
                    border: 1px solid #eee;
                    div {
                        background: #fff;
                        a {
                            color: #666;
                            display: inline-block;
                            height: 16px;
                            line-height: 16px;
                            // width: 80px;
                            margin: 0 20px;
                            padding: 0 5px;
                            height: 20px;
                            line-height: 20px;
                            // text-indent: 5px;
                            text-align: center;
                            // position: relative;
                            &:hover {
                                color: #fff;
                                background: #f709;
                                border-radius: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// 头部
header {
    margin-top: 10px;
    height: 100px;
    background: #fff;
    div.w {
        a.logo {
            display: block;
            margin: 5px 0;
            width: 190px;
            height: 90px;
            background: url(../resource/imgs/logo.png) no-repeat;
            background-size: cover;
        }
        .search {
            width: 440px;
            height: 30px;
            margin-top: 40px;
            text-align: center;
            span {
                // display: inline-block;
                width: 30px;
                height: 30px;
                top: 5px;
                left: 3px;
                font-size: 18px;
                color: #666;
            }
            input[type="text"] {
                width: 350px;
                height: 30px;
                text-indent: 40px;
                border: 2px solid #f80;
                box-sizing: border-box;
            }
            input[type="submit"] {
                width: 90px;
                height: 30px;
                background: #f80;
                color: #fff;
                font-size: 18px;
                &:hover {
                    background: #f70;
                }
            }
        }
    }
}

div.adv {
    margin-top: 20px;
    height: 160px;
    background: url("https://image.suning.cn/uimg/sop/commodity/302386473137495199040530_x.jpg") center;
}

div.index {
    height: 40px;
    line-height: 40px;
    background: #f8f8f8;
    a {
        display: inline-block;
        height: 40px;
        line-height: 40px;
        &:hover {
            color: #f70;
        }
    }
}

main {
    height: 540px;
    background: #fff;
    div.w {
        div.l {
            width: 400px;
            div.img {
                height: 530px;
                // background: #0ff;
                div.small {
                    height: 400px;
                    width: 400px;
                    margin: 20px 0;
                    background: url(../resource/imgs/goods_small.jpg);
                    div.opa {
                        height: 400px;
                        width: 400px;
                        // margin: 20px 0;
                        top: 0px;
                        left: 0;
                        background: rgba(255, 255, 255, 0);
                    }
                    div.mask {
                        display: none;
                        width: 200px;
                        height: 200px;
                        background: rgba($color: #0ff, $alpha: 0.3);
                        left: 0;
                        top: 0;
                    }
                    div.big {
                        display: none;
                        width: 400px;
                        height: 400px;
                        background: url(../resource/imgs/goods_big.jpg) no-repeat 0 0;
                        left: 100%;
                        top: 0px;
                        z-index: 1;
                    }
                }
                div.little {
                    img {
                        display: inline-block;
                        margin-right: 10px;
                    }
                }
            }
        }
        div.r {
            width: 550px;
            // background: #f0f;
            margin-top: 20px;
            margin-right: 200px;
            div.title {
                height: 90px;
                h3.goodsname {
                    font-size: 28px;
                    line-height: 40px;
                }
                p.title {
                    line-height: 30px;
                    height: 30px;
                    font-size: 18px;
                    text-indent: 10px;
                    color: #f70;
                }
            }
            div.menu {
                width: 550px;
                height: 210px;
                background: url(../resource/imgs/price_bg.png) no-repeat;
                span.left {
                    height: 50px;
                    line-height: 50px;
                    // float: left;
                    display: inline-block;
                    width: 100px;
                    text-align: center;
                }
                div.can {
                    // background: #0ff;
                    height: 50px;
                    div.right {
                        font-size: 32px;
                        color: red;
                        font-weight: bold;
                    }
                }
                div.fav {
                    span.left {
                        line-height: 20px;
                    }
                    div.right {
                        height: 160px;
                        width: 350px;
                        background: url(../resource/imgs/goods_bg.png) no-repeat;
                        a {
                            position: absolute;
                            &:hover {
                                color: #f70;
                            }
                        }
                        a.one {
                            top: 23px;
                            left: 187px;
                        }
                        a.two {
                            top: 51px;
                            left: 255px;
                        }
                        a.thr {
                            top: 79px;
                            left: 200px;
                        }
                        a.for {
                            top: 108px;
                            left: 207px;
                        }
                    }
                }
            }
            div.count {
                height: 100px;
                width: 500px;
                margin-bottom: 5px;
                span.aa {
                    height: 50px;
                    width: 100px;
                    line-height: 50px;
                    display:inline-block;
                    text-align: center;
                    // float: left;
                }
                div.right {
                    width: 400px;
                    float: right;
                    height: 50px;
                    p.top {
                        height: 20px; 
                        margin: 10px;
                        span{
                            display: inline-block;
                            width:30px;
                            height: 30px;
                            line-height: 30px;
                            text-align: center;
                            background: #f1f1f1;
                            font-size: 16px;
                            user-select: none;
                        }
                        span.count {
                            width: 50px;
                        }
                    }
                    div.down {
                        height: 30px;
                        a{
                            width: 100px;
                            height: 35px;
                            line-height: 35px;
                            text-align: center;
                            display: inline-block;
                            margin-top: 10px;
                            margin-left: 10px;
                        }
                        a.cart {
                            background: #f70;
                            color: #fff;
                            &:hover{
                                background: #f60
                            }
                        }
                        a.buy {
                            background: #663200;
                            color:#fff;
                            &:hover{
                                background: #650;
                            }
                        }
                        a.sao {
                            line-height: 50px;
                            &:hover{
                                color: #f60;
                            }
                        }
                    }
                }
            }
            div.server {
                height: 50px;
                border-top: 1px dotted #ccc;
                span.left {
                        height: 50px;
                        width: 100px;
                        line-height: 50px;
                        display:inline-block;
                        text-align: center;
                        // float: left;
                }
                a {
                    line-height: 30px;
                    margin: 10px;
                    &:hover{
                        color: #f60;
                    }
                }
            }
        }
    }
}

// section end
section {
    height: 380px;
    background: #f5f5f5;

    div.end {
        // width:100%;
        height: 60px;
        background: url(../resource/imgs/index_end.png) no-repeat;
    }
    div.all {
        width: 100%;
        border-top: 1px solid #ccc;
        background: #f5f5f5;
        // height: 350px;
        .w {
            div.promise {
                height: 98px;
                border-bottom: 1px solid #ccc;
                dl {
                    height: 50px;
                    margin-left: 15px;
                    margin-right: 60px;
                    margin-top: 25px;
                    // background: pink;
                    float: left;
                    dt {
                        width: 50px;
                        height: 50px;
                        font-size: 35px;
                        border-radius: 50%;
                        background: #f70;
                        color: #fff;
                        line-height: 50px;
                        text-align: center;
                        float: left;
                    }
                    dd {
                        float: left;
                        margin-left: 10px;
                        a.top {
                            color: #000;
                            font-weight: bold;
                            line-height: 25px;
                            font-size: 14px;
                            &:hover {
                                color: #f70;
                            }
                        }
                        p.down {
                            color: #333;
                            line-height: 20px;
                        }
                    }
                }
            }
            div.help {
                background: #f5f5f5;
                height: 200px;
                ul {
                    height: 200px;
                    float: left;
                    margin-top: 10px;
                    margin-left: 15px;
                    margin-right: 33px;
                    li {
                        width: 150px;
                        p {
                            color: #000;
                            font-weight: bold;
                            height: 40px;
                            line-height: 40px;
                            font-size: 14px;
                        }
                        a {
                            line-height: 25px;
                            &:hover {
                                color: #f70;
                            }
                        }
                    }
                }
            }
        }
    }
}

// footer
footer {
    height: 335px;
    background: #fff;
    .w {
        padding-top: 20px;
        ul {
            height: 25px;
            text-align: center;
            li {
                display: inline-block;
                padding: 10px;
                position: relative;
                a {
                    color: #666666;
                    &:hover {
                        color: #f70;
                    }
                }
                i {
                    display: block;
                    width: 1px;
                    height: 14px;
                    top: 10px;
                    right: -3px;
                    background: #666;
                    position: absolute;
                }
            }
        }
        div.img {
            margin-top: 10px;
            width: 100%;
            img {
                margin-left: 135px;
            }
        }
    }
}

